params {
  blastProgram = "blastp"
  tarFile = "$baseDir/data/test.tar"
  dataFile = "blastSimilarity.out"
  logFile = "blastSimilarity.log"
  outputDir = "$launchDir/output"
  blastArgs = ""
  pValCutoff = 1e-5
  lengthCutoff = 10
  percentCutoff = 20
  adjustMatchLength = false
  outputType = "both"
  printSimSeqs = true
}
process {
    container = 'rdemko2332/diamondsimilarity'
}
docker {
    enabled = true
}
